#circle {
         width: 25px;
         height: 25px;
         background: red;
         -moz-border-radius: 20px;
         -webkit-border-radius: 20px;
         border-radius: 20px;
     }

.circle { width: 34px; height: 34px; position: absolute; border-radius: 50%; background: green; }
.pie_left, .pie_right { width: 34px; height: 34px; position: absolute; top: 0;left: 0; }
.left, .right { display: block; width:34px; height:34px; background:white; border-radius: 50%; position: absolute; top: 0; left: 0; transform: rotate(0deg); }
.pie_right, .right { clip:rect(0,auto,auto,17px); }
.pie_left, .left { clip:rect(0,17px,auto,0); }
.mask { width: 25.5px; height: 25.5px; border-radius: 50%; left: 4.25px; top: 4.25px; background: black; position: absolute; text-align: center; line-height: 25.5px; font-size: 10px; color:white}

#links {text-align:center;}

#links ul{border:1px solid red;list-style-type:none;}

#links ul li{
    display:inline;

}

.pa a:link {color:black;}      /* 未访问链接*/
.pa a:visited {color:black;}  /* 已访问链接 */
.pa a:hover {color:white; background: black}  /* 鼠标移动到链接上 */
.pa a:active {color:black;}  /* 鼠标点击时 */

.pagination li .active{
    color: black;
}

